{
  "root": true,
  "parserOptions": {
    "ecmaVersion": "latest",
    "parser": "@typescript-eslint/parser",
    "sourceType": "module"
  },
  "extends": [
    "@nuxtjs/eslint-config-typescript"
  ],
  "rules": {
    "max-len": "off",
    "import/export": "off",
    "import/no-mutable-exports": "off",
    "no-return-assign": "off"
  }
}
